@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

header{
    background: url("https://i.postimg.cc/5NMRF330/latam.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-top: 0%;
    width: 100%;
    z-index: initial;
}

button:hover{
    transform: scale(1.5);
}

nav img{
    width: 250px;
}

.header__nav {
    color: aliceblue;
    list-style: none;
    display: flex;
    margin-left: 55%;
    margin-top: 2%;
}

.header__nav a{
      color: aliceblue;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Muli',sans-serif;
      margin-left: 15px;
}

.header__nav a:hover{
    color: aquamarine;
    text-decoration: none;
}
.navegacion{
    display: flex;
}

.navegacion ul{
    display: flex;
}

.navegacion li{
    list-style: none;
    margin-left: 5%;
    justify-content: flex-end;
    color: white;
    font-family: Roboto;
}


.listado{
    justify-content: flex-end;
    margin-left: 64%;
}


.encabezado{
    text-align: center;
    margin-top: 6%;
    padding-bottom: 12%;
}

h1{
    font-family: Roboto;
    color: white;
    font-size: 40px;
    justify-content: center;
}

.gdsc-descripcion{
    background-color: #fab101;
    padding: 3.4%;
    margin-left: -1%;
    margin-right: 0%;
}

.gdsc-descripcion p{
    color: black;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-family: Roboto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.eventos{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    margin-left: 2%;
    margin-bottom: 5%;
}

.btn{
    background-color: #fab101;
}
